PORT=
NODE_ENV=
CORS_WHITELIST=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Security & Encryption
SALT_ROUNDS=
ENCRYPT_SECRET_KEY=
ACCESS_SECRET_KEY=
EXPIRES_IN=
TOKEN_PREFIX=

# Admin Account
ADMIN_EMAIL=
ADMIN_PASSWORD=

